.git
.gitnexus
.husky

node_modules
dist
logs
coverage

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.cache
.eslintcache
.DS_Store
Thumbs.db

*.tsbuildinfo
